/* main */
.container {
   position: relative;
}
header {
   position: fixed;
   background-color: #fcfcf4;
}
.archive_title {
   width: 100%;
   bottom: 100px;
   text-align: center;
   font-size: 170%;
   font-weight: bold;
   position: fixed;
}
.archive_category {
   width: 100%;
   height: 60px;
   margin-top: 60px;
   font-size: 130%;
   font-weight: bold;
   border-bottom: 1px solid black;
   position: fixed;
   background-color: #fcfcf4;
}
   .archive_categoryDate {
      width: 10%;
      height: 100%;
      display: flex;
      padding-left: 40px;
      align-items: center;
      float: left;
      /* border: 1px solid black; */
   }
   .archive_categoryGenre {
      width: 12%;
      height: 100%;
      display: flex;
      padding-left: 40px;
      align-items: center;
      float: left;
      /* border: 1px solid black; */
   }
   .archive_categoryArtist {
      width: 12%;
      height: 100%;
      display: flex;
      padding-left: 40px;
      align-items: center;
      float: left;
      /* border: 1px solid black; */
   }
   .archive_categoryArtistInfo {
      width: 18%;
      height: 100%;
      display: flex;
      padding-left: 40px;
      align-items: center;
      float: left;
      /* border: 1px solid black; */
   }
   .archive_categoryArtInfo {
      width: 18%;
      height: 100%;
      display: flex;
      padding-left: 40px;
      align-items: center;
      float: left;
      /* border: 1px solid black; */
   }
   .archive_categoryArt {
      width: 30%;
      height: 100%;
      display: flex;
      padding-left: 40px;
      align-items: center;
      float: left;
      /* border: 1px solid black; */
   }
.archive_blank {
   width: 100%;
   padding-top: 120px;
   /* border: 1px solid black; */
}
.archive_main {
   width: 100%;
   height: 450px;
   font-size: 120%;
   line-height: 30px;
   border-bottom: 1px solid black;
}
   .archive_mainDate {
      width: 10%;
      height: 450px;
      padding: 10px;
      padding-left: 40px;
      float: left;
      line-height: 30px;
      /* border: 1px solid black; */
   }
      .archive_accent {
         font-size: 110%;
      }
   .archive_mainProject {
      width: 12%;
      height: 450px;
      padding: 10px;
      padding-left: 40px;
      float: left;
      /* border: 1px solid black; */
   }
   .archive_mainArtist {
      width: 12%;
      height: 450px;
      padding: 10px;
      padding-left: 40px;
      float: left;
      /* border: 1px solid black; */
   }
   .archive_mainArtistInfo {
      width: 18%;
      height: 450px;
      padding: 10px;
      padding-left: 40px;
      float: left;
      /* border: 1px solid black; */
   }
   .archive_mainArtInfo {
      width: 18%;
      height: 450px;
      padding: 10px;
      padding-left: 40px;
      float: left;
      /* border: 1px solid black; */
   }
   .archive_mainArt {
      width: 30%;
      height: 450px;
      padding: 40px;
      float: left;
      white-space: nowrap;
      overflow: auto;
      /* border: 1px solid black;  */
   }
      .archive_mainArt img{
         height: 370px;
      }
      .archive_mainArt img:active {
         animation-name: centerAni;
         animation-duration: 2s;
         transition-duration: 1s;
         position: absolute;
      }
      @keyframes centerAni {
         100% {
            transform: scale(2);
            translate: -60vh;
         }
      }