/* main */
.about_title {
    width: 750px;
    height: 250px;
    text-align: center;
    margin: 50px auto;
    padding-top: 50px;
    /* border: 1px solid black; */
}
    .about_title b {
        font-size: 300%;
    }
.about_pic {
    width: 750px;
    height: 563px;
    margin: 0 auto;
    /* border: 1px solid black; */
}
    .about_pic img {
        width: 100%;
    }
.about_writeBox {
    width: 750px;
    min-height: 800px;
    margin: 50px auto;
    /* border: 1px solid black; */
}
    .about_writeBox pre {
        text-align: center;
        line-height: 2em;
    }
    .about_accent {
        font-weight: bold;
        font-size: large;
        color: #7f924f;
        /* text-decoration: underline 3px #7f924f; */
    }