/* main */
.dots_NoticeMain {
   width: 100%;
   height: 100%;
   margin: 0 auto;
   /* border: 1px solid black; */
}
   .dots_NoticeBox {
      width: 1125px;
      min-height: 800px;
      /* border: 1px solid black; */
      margin: 0 auto;
      margin-top: 200px;
   }
      .dots_NoticeTitle {
         width: 100%;
         font-size: 300%;
         height: 150px;
         /* border: 1px solid black; */
      }
      .dots_NoticeTableBox {
         width: 100%;
         min-height: 300px;
         /* border: 1px solid black; */
      }
         .dots_NoticeSubTitle {
            width: 100%;
            height: 50px;
            /* border: 1px solid black; */
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 120%;
         }
            .dots_NoticeSubTitle input {
               width: 60%;
               height: 60%;
               padding-left: 15px;
               display: flex;
               justify-content: center;
               align-items: center;
               border-radius: 10px;
            }
         .dots_NoticeSubWrite {
            width: 100%;
            min-height: 200px;
            padding: 30px;
            display: flex;
            align-items: center;
            border-radius: 30px;
            border: 1px solid #7f924f;
         }
            .dots_NoticeSubWrite textarea{
               width: 100%;
               min-height: 200px;
               padding: 30px;
               display: flex;
               align-items: center;
               border-radius: 10px;
               border: 1px solid #7f924f;
            }
         .dots_NoticeUploadFile {
            width: 100%;
            height: 50px;
            /* border: 1px solid black; */
            display: flex;
            justify-content: end;
            align-items: center;
/*             margin-left: 4%; */
/*             display: flex; */
/*             align-items: center; */
         }
         	.dots_NoticeUploadFile input {
         		width: 15%;
         	}
      .dots_NoticeList {
         width: 100%;
         height: 50px;
         /* border: 1px solid black; */
         display: flex;
         justify-content: center;
         align-items: center;
      }
         .dots_NoticeList input {
            border: 1px solid #c7e3ff;
            background-color: #c7e3ff;
            border-radius: 50%;
         }
      .dots_Noticebutton {
         width: 100%;
         height: 100px;
         /* border: 1px solid black; */
         display: flex;
         justify-content: center;
         align-items: center;
      }
         .dots_Noticebutton input {
            width: 30px;
            height: 30px;
            background-color: #fcfcf4;
            border: #fcfcf4;
         }