/* main */
.dots_NoticeMain {
   width: 100%;
   height: 100%;
   margin: 0 auto;
   /* border: 1px solid black; */
}
   .dots_NoticeBox {
      width: 1125px;
      height: 800px;
      /* border: 1px solid black; */
      margin: 0 auto;
      margin-top: 200px;
   }
      .dots_NoticeTitle {
         width: 100%;
         font-size: 300%;
         height: 150px;
         /* border: 1px solid black; */
      }
      .dots_NoticeTableBox {
         width: 100%;
         height: 300px;
         /* border: 1px solid black; */
      }
         .dots_NoticeTable {
            width: 100%;
            height: 100%;
            /* border: 3px solid #fcfcf4;  */
            border-collapse: collapse;
            text-align: center;
         }
            .dots_NoticeTable th, td {
               border-bottom: 1px solid #7f924f; 
               border-collapse: collapse;
            }
            .dots_NoticeTable th {
               font-size: 120%;
            }
      .dots_NoticeList {
         width: 100%;
         height: 150px;
         /* border: 1px solid black; */
         display: flex;
         justify-content: center;
         align-items: center;
      }
         .dots_insertButton {
            margin: 10px;
/*             float: left; */
         }
            .dots_insertButton input {
               border: 1px solid #c7e3ff;
               background-color: #c7e3ff;
               border-radius: 50%;
            }
         .dots_searchForm {
            margin: 10px;
/*             float: left; */
         }
            .dots_searchForm input{
               border: 1px solid black;
               background-color: white;
               border-radius: 5%;
            }
      .dots_Noticebutton {
         width: 100%;
         height: 20px;
         /* border: 1px solid black; */
         display: flex;
         justify-content: center;
         align-items: center;
      }
         .dots_Noticebutton a {
            width: 30px;
            height: 30px;
            background-color: #fcfcf4;
            border: #fcfcf4;
         }